<launch>

  <!-- navigation common params-->
  <rosparam file="$(find ackermann_vehicle_gazebo)/yaml/local_costmap_params.yaml"      command="load" ns="move_base"/>
  <rosparam file="$(find ackermann_vehicle_gazebo)/yaml/global_costmap_params.yaml"     command="load" ns="move_base"/>
  <rosparam file="$(find ackermann_vehicle_gazebo)/yaml/move_base_params.yaml"          command="load" ns="move_base"/>
  <rosparam file="$(find ackermann_vehicle_gazebo)/yaml/base_global_planner_param.yaml" command="load" ns="move_base"/>
  <rosparam file="$(find ackermann_vehicle_gazebo)/yaml/teb_local_planner_params.yaml"  command="load" ns="move_base"/>

  <param name="move_base/base_local_planner"    type="string" value="teb_local_planner/TebLocalPlannerROS"/>


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ackermann_vehicle_gazebo)/yaml/costmap_common_params_global.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ackermann_vehicle_gazebo)/yaml/costmap_common_params.yaml" command="load" ns="local_costmap" />
  </node>

</launch>


